.intro{
    margin-top: 50px;
    background: url(https://superpage.to/home/rangoli-2.svg) no-repeat top left;
    display: flex;
	/* justify-content: space-around; */
    justify-content: center;
	align-items: center;
    text-align: center;
	/* left: 0;
	top: 0; */
	width:100%;
    padding: 10px 0;
	/* z-index: 1; */
}

.intro__content{
    flex: .4;
    justify-content: space-around;
    text-align: left;
    /* background-color: turquoise; */
}
.intro__content>h1{
    color: #000000e3;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    line-height: 5rem;
}
.intro__content>p{
    margin-top: .5rem;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 7rem;
}
.intro__image{
    flex: .3;
    justify-content: space-around;
    /* background-color: tomato; */
}
.intro__conttentLink{
    font-size: 1.5rem;
    margin-top: 2rem;
    background-color: #000000d3;
    color: white;
    padding: 1rem 3rem;
    font-weight: 500;
    border-radius: 50px;
    text-decoration: none;
}

.intro__conttentLink:hover{
    background-color: black;
}

.uses{
    background-color: #d0ddeecc;
    margin-top: -50px;
}
.intro_buttons{

    flex:.1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.intro_button{
    background-color: white;
    border-radius: 100%;
    max-height: 60px;
    max-width: 60px;
    border-color: white;
}

.intro_button>img{
    max-height: 50px;
    max-width: 50px;
    border-radius: 100%;
}
@media (max-width: 1024px) {
    .intro__conttentLink{
        font-size: 1.3rem;
        margin-top: 2rem;
        padding: 1rem 2.5rem;
    }
}
@media (max-width: 800px) {
    .intro {
        flex-direction: column;
        justify-content: center;
	    align-items: center;
        text-align: center;
        width: 100vmax;
    }
    .intro__content{
        flex: 1;
        justify-content: space-around;
        text-align: center;
        padding: 20px;
        /* background-color: turquoise; */
    }
    .intro__image{
        flex: 1;
        justify-content: space-around;
        margin-top: 50px;
        /* background-color: tomato; */
    }
    .intro_buttons{
        margin-top: 20px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
  }